extends layout

block styles
  link(rel="stylesheet", href=`/css/hljs-default.min.css?${START_TS}`)
  link(rel="stylesheet", href=`/css/chat.css?${START_TS}`)

block header_scripts
  script(defer="defer", src="/socket.io/socket.io.js")
  if production
    script(defer="defer", src=`/js/${hash['vendor.js']}`)
  else
    script(defer="defer", src="/js/vendor-bundle.js")
block header_outer

block banner_outer

block flash

block footer_outer

block main
  #minni
  #splashscreen
    .splashscreen-inner
      include ../../public/logo.svg
      h3 Please be patient
      p We are setting up your cloud office...



append scripts
  if production
    script(defer="defer", src=`/js/${hash['minni.js']}`)
    script(defer="defer", src=`/js/${hash['plugins.js']}`)
  else
    script(defer="defer", src="/js/minni-bundle.js")
    script(defer="defer", src="/js/plugins-bundle.js")
