doctype html
html
  head
    title #{title ? title + " · " : ""}#{name}
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")

    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0")

    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#48a6fd")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    meta(name="apple-mobile-web-app-title", content=name)
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="application-name", content=name)
    meta(name="theme-color", content="#0061bc")

    meta(name="description", content="Your cloud memories, accessible from everywhere")
    meta(name="application-url", content=`${url.protocol}://${url.hostname}`)

    //- IE10+
    meta(name="msapplication-TileColor", content="#48a6ff")
    meta(name="msapplication-TileImage", content=`${url.protocol}://${url.hostname}/mstile-150x150.png`)

    block styles
      link(rel="stylesheet", href=`/css/style.css?${START_TS}`)

    script(type="text/javascript").
      window.Minni = {
        name: "#{name}",
        demo: #{demo},
        debug: #{!production}
      };
    block header_scripts

  body(class=[viewname(filename), bodyClass])

    block header_outer
      header
        block header
          .wrapper
            h1: a.logo(href="/")
              img(src="/images/logo-color.png")
              | #{name}

            nav
              if user === undefined
                a(href="/login") Login
              else
                .user
                  a(href="/profile")= user.fullname
                a(href="/logout") Logout


    block banner_outer
      section.banner
        .wrapper
          block banner

    block flash
      if flash.length
        .alerts
          .wrapper
            while message = flash.shift()
              p.alert(class=`alert-${message.type}`)= message.message

    block main
      main
        block content_outer
          .wrapper
            block content

    block footer_outer
      footer
        block footer
          .wrapper
            div.logo
              img(src="/images/logo-dark.png")
              | #{name}
            div.copyright 2012 - #{(new Date()).getFullYear()} &copy; Benoit Charbonnier

    block scripts
