doctype html
html
  head
    title #{title ? title + " · " : ""}#{name}
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0")

    meta(name="application-name", content=name)
    meta(name="description", content="Your world wide offices in the cloud")
    meta(name="application-url", content="#{url.protocol}://#{url.hostname}/?origin=cda")
    
    //- iOS
    link(rel="apple-touch-icon", sizes="57x57",   href="/images/logos/ios/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60",   href="/images/logos/ios/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72",   href="/images/logos/ios/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76",   href="/images/logos/ios/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/images/logos/ios/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/images/logos/ios/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/images/logos/ios/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/images/logos/ios/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/images/logos/ios/apple-touch-icon-180x180.png")
      
    //- IE9+
    meta(name="msapplication-tooltip", content=name)
    meta(name="msapplication-starturl", content="#{url.protocol}://#{url.hostname}/?origin=ieps")
    //- IE10+
    meta(name="msapplication-TileColor", content="#48a6ff")
    meta(name="msapplication-TileImage", content="#{url.protocol}://#{url.hostname}/images/logos/msapp/mstile-144x144.png")
    //- Fluid
    link(rel="fluid-icon", href="#{url.protocol}://#{url.hostname}/images/logos/logo-x512.png", title=name)
    //- Favicons
    link(rel="icon", type="image/x-icon", href="/favicon.ico")
    link(rel="icon", sizes="512x512", href="/images/logos/logo-x512.png")
    link(rel="icon", sizes="256x256 192x192 194x194", href="/images/logos/logo-x256.png")
    link(rel="icon", sizes="64x64 96x96 128x128", href="/images/logos/logo-x128.png")
    link(rel="icon", sizes="16x16 24x24", href="/favicon.ico")

    link(rel="stylesheet", href="/css/style.css")
    script(type="text/javascript").
      window.Minni = {
        name: "#{name}",
        debug: #{!production}
      };
    block header_scripts

  body(class=[viewname(filename), bodyClass])
    
    block header_outer
      header
        block header
          .wrapper
            h1: a.logo(href="/")
              img(src="/images/logo-color.png")
              | #{name}
            
            nav
              if user === undefined
                a(href="/login") Login
              else
                .user
                  a(href="/profile")= user.fullname
                a(href="/logout") Logout
                
    
    block banner_outer
      section.banner
        .wrapper
          block banner

    block flash
      if flash.length
        .alerts
          .wrapper
            while message = flash.shift()
              p.alert(class="alert-" + message.type)= message.message
    
    main
      block content_outer
        .wrapper
          block content

    block footer_outer
      footer
        block footer
          .wrapper
            div.logo
              img(src="/images/logo-dark.png")
              | #{name}
            div.copyright 2014 - #{(new Date()).getFullYear()} &copy; Benoit Charbonnier

    block scripts
