extends layout

block content
  .content
    .greetings
      img.logo(src="/images/logo.png")      
    
    .providers
      h1 Sign in to minni
      p Sign in with <span class="providers-list">#{providers.map(function(p) {return p.name;}).join(", ")}</span> or Email
          
      .providers-links
        each provider in providers
          a(class=["provider", "provider-#{provider.name}"], href="/login/#{provider.name}")
            img.logo(src="data:image/png;base64,#{provider.logo}")
            | #{provider.name}

      .email
        form(method="POST", action="/login")
          p
            input(type="text", placeholder="Identifier (email)", name="username")
          p
            input(type="password", placeholder="Password", name="password")
          p
            button Sign in
    
  .links
    a(href="/login/reset-password") Forgot password?
    a(href="/signup") Don't have yet an account?
  
